<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= projectName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:style main -->
    <link rel="stylesheet" type="text/css" href="./public/css/main.css">
    <!-- /build -->
    </head>
    <body>
    Successful start server of <%= projectName %> version: <%= version%>
    <% if (needSeajs) { %>
    <!-- build:script main -->
    <script src="../public/js/seajs/sea-debug.js"></script>
    <!-- /build -->
    <script type="text/javascript">
        seajs.config({
            alias: {
                <% if (needZepto) { %>'zepto': 'libs/zepto.min.js'<% } %>
            }
        });
        seajs.use('bookmark/app', function (app) {
            app.init({
                api: {
                    'bookmark-index': 'getlist'
                },
                index: {
                    listSize: 10
                }
            });
        });
    </script>
    <% } else { %>

    <!-- build:script main -->
    <script src="./public/js/libs/zepto.min.js"></script>
    <script src="./public/js/app.js"></script>
    <!-- /build -->
    <% } %>
    </body>
</html>
